@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --tomato: hsl(4, 100%, 67%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-slate-grey);
  color: var(--charcoal-grey);
}

#signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 130px 350px;
  width: 100vh;
  background-color: var(--white);
  border-radius: 20px;
}

#signup .signup__textblock {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  width: 90%;
}

#signup .signup__textblock h1 {
  font-size: 3rem;
  font-weight: 700;
}

#signup .signup__textblock p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: -1rem;
  color: var(--charcoal-grey);
}

#signup .signup__textblock ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
  list-style: none;
}

#signup .signup__textblock ul li {
  display: flex;
  align-items: center;
  padding-left: 0;
  position: relative;
}

#signup .signup__textblock ul li:before {
  content: '';
  width: 20px;
  height: 16px;
  background-image: url('./assets/images/icon-list.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* form */
#signup .signup__textblock form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 28px;
}

#signup .signup__textblock input {
  padding: 10px;
  height: 2.3vh;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 10px;
}

#signup .signup__textblock input#email.invalid {
  border: 2px solid red;
  background-color: rgba(247, 127, 127, 0.645);
  color: red;
}

#signup .signup__textblock label {
  font-size: 0.7rem;
  font-weight: bold;
}

#signup .signup__textblock label.invalid-label {
  display: block;
  color: red;
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  left: 650px;
}

#signup .signup__textblock form button {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  height: 5.6vh;
  border-radius: 10px;
  cursor: pointer;
}

#signup .signup__textblock form button:active,
#success button:active {
  background-color: var(--tomato);
  border: 2px solid tomato;
}

/* Image */
#signup .signup__image {
  margin: 30px 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#signup .signup__image .sign-up__image__mobile {
  display: none;
}

/* Success Form  */
#success {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 200px 500px;
  padding: 50px 40px;
  width: 350px;
  height: 350px;
  background-color: var(--white);
  border-radius: 14px;
}

#success h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

#success img {
  width: 60px;
  height: 60px;
}

#success button {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 500;
  width: 100%;
  height: 6vh;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

/* ******************************************************** */
/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
  }

  #signup {
    margin: 0px;
    margin-bottom: 50px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #signup .signup__textblock {
    margin: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 90%;
    order: 2;
  }

  #signup .signup__textblock h1 {
    font-size: 2.6rem;
    font-weight: 700;
  }

  #signup .signup__textblock label.invalid-label {
    left: 250px;
  }

  #signup .signup__image {
    order: 1;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #signup .signup__image .sign-up__image__desktop {
    display: none;
  }

  #signup .signup__image .sign-up__image__mobile {
    display: block;
    background-size: cover;
  }

  .attribution {
    display: none;
  }

  #success {
    width: 70%;
    margin: 0;
  }

  #success button {
    position: absolute;
    width: 80%;
    bottom: 40px;
  }
}
